<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>578876144319-ljfgmg3nlsfg2fu30scqllo5dhf40rfd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.578876144319-ljfgmg3nlsfg2fu30scqllo5dhf40rfd</string>
	<key>API_KEY</key>
	<string>AIzaSyBmW-Q8LcIloyhiyakWP5XgFp4qsM-rBFw</string>
	<key>GCM_SENDER_ID</key>
	<string>578876144319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Hewittware.FirebaseXamarinTest</string>
	<key>PROJECT_ID</key>
	<string>fir-xamarintest-626a4</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-xamarintest-626a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:578876144319:ios:73f60f9f43301eaf</string>
	<key>DATABASE_URL</key>
	<string>https://fir-xamarintest-626a4.firebaseio.com</string>
</dict>
</plist>